*{
    box-sizing: border-box;
}
.roundpara{
    text-decoration-line: underline;
    text-decoration-style: dotted;
    font-weight: bold;
}
.scoreboard{
    font-weight: bold;
    font-size: large;
}

.finalWinner{
    font-size: large;
    font-weight: bold;
}